.mobile-head__logo {
    height: 1.5rem;
}

.slide-menu__logo {
    height: 1.5rem;
}

.leader__img {
    height: 225px;
    width: 100%;
    background-image: url('../images/mobile/image-interactive.jpg');
    background-size: cover;
}

.footer__logo {
    height: 1.5rem;
}
