@media (min-width: 767px) {

    .header {
        height: 72vh;
        padding: 4rem;
    } 

    .header__head {
        width: calc(100% - 8rem);
        top: 4rem;
        left: 4rem;
    }

    .main {
        margin: 0 4rem;
    }

    .leader__img {
        height: 320px;
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: clamp(800px, 80%, 1300px);
        padding: 3rem 0;
        gap: 0;
    }

    .footer__container--right, .footer__container--left {
        justify-content: space-between;
        gap: 0;
    }

    .footer__container--left {
        align-items: flex-start;
        height: 80px;
    }

    .footer__container--right {
        align-items: flex-end;
        height: 80px;
    }

    .footer__copyright {
        text-align: end;
    }

    .nav__list {
        flex-direction: row;
        margin: 0;
    }

    
}


@media (min-width: 1400px) {

    .container {
        align-items: center;
        gap: 10rem;
    }

    .footer {
        align-self: stretch;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: clamp(800px, 80%, 1300px);
        gap: 8rem;
    }

    

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 0;
    }

    .header__title {
        width: 60%;
    }
    
    .header {
        background-image: url("../images/desktop/image-hero.jpg");
    }

    .leader {
        position: relative;
        margin-bottom: 2rem;
    }

    .leader__img {
        background-image: url("../images/desktop/image-interactive.jpg");
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .leader__content {
        position: absolute;
        bottom: 0;
        right: 5rem;
        z-index: 1;
        background-color: white;
        padding: 3rem 3rem 0;
        width: 600px;
        height: 300px;
    }

    .content__copy {
        margin-bottom: 0;
    }


    .leader__title, .creations__title {
    font-size: 3rem;
    }

    .desktop-creations {
        display: flex;
        
    }

    .creations__title {
        margin: 0;
    }

    .creations {
        display: none;
    }

    

    .creations__card {
        height: auto;
        width: fit-content;
        // width: 100%;
        // height: 8rem;
        flex-grow: 1;
        box-shadow: inset 0 0 0 2000px rgba(10, 10, 10, .3);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
    }

    .card__title {
        font-size: 2rem;
        width: 170px;
    }

    
}