@media (min-width: 768px) {

    .header {
        height: 60vh;
        padding: 4rem;
    } 

    .header__head {
        width: calc(100% - 8rem);
        top: 4rem;
        left: 4rem;
    }

    .main {
        margin: 0 4rem;
    }

    .leader__img {
        height: 320px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 4rem;
    }

    .footer__container--left {
        align-items: flex-start;
    }

    .footer__container--right {
        align-items: flex-end;
    }

    .nav__list {
        flex-direction: row;
        margin: 0;
    }

    
}


@media (min-width: 1400px) {

    .container {
        align-items: center;
    }

    .footer {
        align-self: stretch;
    }

    .main {
        width: clamp(800px, 85%, 1400px);
    }


    .header__title {
        width: 60%;
    }
    
    .header {
        background-image: url("../../../images/desktop/image-hero.jpg");
    }

    .leader {
        position: relative;
    }

    .leader__img {
        background-image: url("../../../images/desktop/image-interactive.jpg");
        height: 550px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .leader__content {
        position: absolute;
        bottom: 0;
        right: 12rem;
        z-index: 1;
        background-color: white;
        padding: 3rem 3rem 0;
        width: 600px;
        height: 300px;
    }

    .content__copy {
        margin-bottom: 0;
    }


    .leader__title, .creations__title {
    font-size: 3rem;
    }

    .creations__card {
        height: fit-content;
        width: fit-content;
    }
}